.containal {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.mainTitle {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.contents {
  display: flex;
  justify-content: center;
}
.enWordInput {
  display: block;
  width: 250px;
  height: 30px;
  color: white;
  border-radius: 13px;
  border: 1px solid #fc774e;
  background-color: #252527;
}
.wordMeaningInput {
  display: block;
  border-radius: 13px;
  height: 30px;
  width: 250px;
  margin-top: 20px;
  color: white;
  border: 1px solid #fc774e;
  background-color: #252527;
}
.submit {
  display: block;
  color: white;
  border: none;
  height: 30px;
  width: 200px;
  margin-top: 20px;
  border-radius: 14px;
  margin: 20px auto 10px;
  background-color: #fc774e;
}
.hr {
  width: 500px;
  margin: 0 auto;
}

.WordContents {
  display: flex;
  flex-direction: column;
}

.WordsBox {
  margin: 0 auto;
}
.contentTile {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}

.enWords {
  display: inline-flex;
  align-items: center;
  width: 145px;
  height: 35px;
  justify-content: right;
}
.enMeaning {
  display: inline-flex;
  align-items: center;
  width: 150px;
  height: 35px;
}

.Words {
  align-items: center;
  width: 300px;
  height: 35px;
  color: black;
  margin-top: 15px;
  background-color: white;
}

.WordsHR {
  display: inline;
  margin: 0;
  border: 1px solid black;
}

.SignOut {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.SignOutBtn {
  width: 100px;
  height: 25px;
  border: 0;
  border-radius: 7px;
  color: #ffa8a8;
  background-color: #252527;
}
input:focus {
  outline: none;
}

@media (max-width: 767px) {
  .hr {
    width: 300px;
    margin-top: 20px;
  }
}
